// Definición de variables
$primary-color: #24a5e6;
$font-family: Arial, sans-serif;
$font-size: 100px;
$margin-top: 50px;
$image-width: 250px;

// Uso de variables
h1 {
  color: $primary-color;
  font-family: $font-family;
  font-size: $font-size;
  text-align: center;
  margin-top: $margin-top;
}

img {
  width: $image-width;
}

.imagen {
  display: flex;
  justify-content: center;
}